global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: 'mmh'
    static_configs:
      - targets: ['mmh:8000']
    scrape_interval: 5s
